body {
    font-size: 30pt;
}
.EMPEROR{
  font-size: 50px;
  font-weight: bold;
  margin-top: 20%;
  color: white;
  
}
.EMPERORR{
  font-size: 50px;
  font-weight: bold;
  margin-top: 20%;
  color: white;
}
.EMPERORRR{
  font-size: 50px;
  font-weight: bold;
  margin-top: 20%;
  color: white;
  
}
